<div>

    <app-employeelist>


    </app-employeelist>
</div>
<div>

   <app-employeedetail>

    
   </app-employeedetail>
</div>

<div>



<h1>{{child}}</h1>


<app-component-interaction (childEvent)="child=$event" [message]="message">

</app-component-interaction>
<app-test>


</app-test>
</div>